html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffecdb;
    font-family: 'Nunito', sans-serif;
}

#main-form {
    width: 40%;
    padding: 40px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    background-color: #FFFFFF;
}

.form-item {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-basis: 30px;
}

.form-item label {
    font-weight: 600;
}

.short {
    padding: 10px;
    border-radius: 5px;
    border: 1px;
    background-color: #fff3e8;
    transition: 0.2s;
}

.short:hover {
    background-color: #ffecdb;
}

.form-dd {
}

.form-submit {
    width: 60%;
    align-self: center;
    background-color: #f29b9c;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.form-submit:hover {
    background-color: #f18c8e;
}